@import 'DesignSystem.module';

$polka-bg-image: radial-gradient(rgb(227, 227, 227) 10%, transparent 10%);
$polka-bg-position: 8px 8px;
$polka-bg-size: 16px 16px;
$polka-bg-color: rgb(255, 255, 255);

.viewport {
    width: 100vw;
    height: 100vh;
    background-image: $polka-bg-image;
    background-position: $polka-bg-position;
    background-size: $polka-bg-size;
    background-color: $polka-bg-color;
}

.polka {
    background-image: $polka-bg-image;
    background-position: $polka-bg-position;
    background-size: $polka-bg-size;
    background-color: $polka-bg-color;
}