.container {
    display: flex;
        align-items: space-between;
        justify-content: space-between;
            height: 100vh;
            width: 100vw;
            padding-top: 30px;
            padding-inline: 36px;
}


.navigationBarIcons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    cursor: pointer;
}

.paramPanel {
    background-color: white;
    height: 85vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 13px #b0b0b0,
        -7px -7px 13px #ffffff;
    border-radius: 20px;

}

.params {
    overflow-x: auto;
}

.visualisationPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 800px;
    /* Ajustez la largeur comme nécessaire */
}

.visualisationCanva {
    box-shadow: 7px 7px 13px #b0b0b0,
        -7px -7px 13px #ffffff;
    height: 800px;
}

.barIcons {
    font-size: 30px;
    border-radius: 8px;
}

.leftPanel {
    display: flex;
    flex-direction: column;
    height: 85vh;
    gap: 16px;
}
.patternPanel {
    background-color: white;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 7px 7px 13px #b0b0b0,
        -7px -7px 13px #ffffff;
    border-radius: 20px;

}

.screenshotPanel {
    background-color: white;
    width: 400px;
    height: 55vh;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 13px #b0b0b0,
        -7px -7px 13px #ffffff;
    border-radius: 20px;
}

.screenshotTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.patternCardList {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    width: 400px;
    height: auto;
}

.patternCard {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin: 16px;
    cursor: pointer;
    box-shadow: 7px 7px 13px #b0b0b0,
            -7px -7px 13px #ffffff;
        border-radius: 20px;
    }
    
.screenCardList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 400px;
    height: 55vh;
    padding-right: 16px;
}

.screenshotCard {
    width: 120px;
    height: 120px;
    cursor: pointer;
    box-shadow: 7px 7px 13px #b0b0b0,
            -7px -7px 13px #ffffff;
   border-radius: 20px;
    margin: 16px;
}

.rightIconsContainer {
    display: flex;
    flex-direction: row;
        justify-content: center;
        align-self: flex-end;
        padding-bottom: 16px;
        gap: 8px;
}

.rightIcons {
    display: flex;
    cursor: pointer;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 20px;
    border-radius: 205px;
    background: #ffffff;
    box-shadow: 7px 7px 13px #b0b0b0,
        -7px -7px 13px #ffffff;
}

.screenshotIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px; 
    height: 30px;
    width: 30px;
    padding: 8px;
    cursor: 'pointer';
    color: black;
    box-shadow: 1px 1px 3px #b0b0b0,
        -1px -1px 3px #ffffff;

}
.rightIcons:active {
    border-radius: 205px;
    background: #ffffff;
    box-shadow: inset 7px 7px 13px #b0b0b0,
        inset -7px -7px 13px #ffffff;
}
.paramCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
        margin: 30px;
        padding: 10px;
        border-radius: 20px;
        background: #ffffff;
    
    }
    
    .toggleCard {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 30px;
        padding-left: 10px;
            border-radius: 20px;
            background: #ffffff;
}
 