// SETTING FONT SIZE //
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
// Display //
// Display //
.largeDisplay {
    margin: 0;
    font-size: 72px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.025em;
    font-family: "Space Grotesk", sans-serif;
}

.mediumDisplay {
    margin: 0;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.025em;
    font-family: 'Inter', sans-serif;
}

.smallDisplay {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.025em;
    font-family: 'Inter', sans-serif;
}

// Heading //
.xLargeHeading {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.02em;
    font-family: 'Inter', sans-serif;
}

.largeHeading {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.02em;
    font-family: 'Inter', sans-serif;
}

.mediumHeading {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.015em;
    font-family: 'Inter', sans-serif;
}

.smallHeading {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.015em;
    font-family: 'Inter', sans-serif;
}

// Body //
.largeBody {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
}

.largeBodySB {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
}

.mediumBody {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
}

.mediumBodySB {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
}

.smallBody {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
}

.smallBodySB {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
}

// Label //
.label {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: 'Inter', sans-serif;
}




// SETTING COLORS //

// Primary Color //
$B50: #e6f0ff;
$B75: #96c0ff;
$B100: #6ba6ff;
$B200: #2b80ff;
$B300: #0066ff;
$B400: #2b80ff;
$B500: #003e9c;

// Secondary Color //
$P50: #ffe6f6;
$P75: #ff96db;
$P100: #ff6bcd;
$P200: #ff2bb7;
$P300: #ff00a8;
$P400: #b30076;
$P500: #9c0066;

// Neutral Color //
$N0: #ffffff;
$N10: #fafafa;
$N20: #f5f5f5;
$N30: #ebebeb;
$N40: #dededf;
$N50: #bfc0c2;
$N60: #b0b1b3;
$N70: #a3a4a7;
$N80: #949598;
$N90: #858689;
$N100: #75767b;
$N200: #66676c;
$N300: #57585d;
$N400: #4a4b51;
$N500: #3b3c42;
$N600: #2e3036;
$N700: #1c1e25;
$N800: #0d0f16;
$N900: #00020a;


.primaryButton {
    color: #F199F2;
}

.secondaryButton {
    color: #0C2FF2;
}



.shadow1 {
    box-shadow: 15px 13px 76px -37px #F20587;
}

.shadow2 {
    box-shadow: 15px 13px 76px -37px #F20587;
}