@import 'DesignSystem.module';

.heroSection {
    background-image: url('../public/background.jpg');
    background-size: cover; /* Adjust as needed */
    /* Add other background properties as needed */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $N0;

    .container {
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    };
  }